extends layout 

block content 
  main 
    if typeof user !== "undefined" && user.firstName
      h2 Hello, #{user.firstName}
    else
      p You are not logged in
      a(href="/users/login") Log In
 
