extends layout 

block content 
  main 
    h1 Welcome Odinites! 
    p Chat and have fun with fellow Odinites with perks for our exclusive members
    div(class="links")
      a(class="login-button" href="/users/login") Log In 
      a(class="signup-button" href="/users/signup") Sign Up
