extends layout 

block content 
 
  main
    form(action="" method="POST")
      section
        label(for="username") Email
        span *
        input(id="username" name="username" type="email" required )

      section 
        label(for="password") Password
        span *
        input(id="password" name="password" type="password" required)

      div
        button(type="submit" class="login") Log In 
        p Don't have an account? 
        a(href="/users/signup") Sign Up
